.feed-container{
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   .feed-all-posts{
      .feed-post{
         margin: 5%;
         border: 1px solid gray;
         min-width: 70%;
      }
   }

   .feed-create-post{

   }

}
