
.post-container {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.post-info {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  margin-bottom: 10px; /* Add some space between each post */
}

.comment-info {
  display: flex;
  justify-content: center;
  background-color: rgb(243, 247, 250);
  padding: 10px;
  border-radius: 5px;
}

.delete-comment {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.delete-comment-button {
  top: 0;
}

.delete-button {
  width: 10px;
  height: 10px;
  opacity: 0.6;
}

.comment-user {
  display: flex;
  align-items: center;
}

.comment-user p{
  font-size: 13px;
}

.comment-user-image {
  height:40px;
  width: 40px;
  border-radius: 5px;
}