.post-container {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  flex-direction: column;
  width: 100%;
}

.post-user-delete{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.post-user {
  display: flex;
}

.border {
  border-bottom: 1px solid rgb(187, 187, 187);
  opacity: 0.5;
}

.delete-button {
  width: 14px;
  height: 14px;
}

.likes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.like-button {
  width: 20px;
  height: 20px;
}

.like-button.clicked {
  width: 23px; /* Increase width on click */
  height: 23px; /* Increase height on click */
}

.user-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}


