.home {
  display: flex;
  flex-direction: column; /* Change direction to column */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  height: 86vh;
}

.welcome-message {
  text-align: center;
  margin-bottom: 50px;
}


.button-container {
  display: center; 
}


.signup,.login{
  width: 200px; /* Adjust button width */
  padding: 15px;
  text-align: center;
  color: #ffffff;
  border-radius: 20px;
  font-size: 1.6em;
  margin: 20px; /* Add margin for spacing */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}



.login {
  background-color: #30cc54; /* Set initial background color */
  color: white; /* Set initial text color */
  transition: background-color 0.3s ease; /* Add transition effect */
}


.login:hover {
  background-color: #259b40; /* Change background color on hover */
  color: white; /* Ensure text color remains the same on hover */
}

.signup {
  background-color: #503bdc; /* Set initial background color */
  color: white; /* Set initial text color */
  transition: background-color 0.3s ease; /* Add transition effect */
}

.signup:hover {
  background-color: #503bdc; /* Change background color on hover */
  color: white; /* Ensure text color remains the same on hover */
}


